<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="{{ .Scratch.Get "sectionId" }}">
  <div class="my-auto" id="projects-content">
    <div class="pb-2">
      <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
      {{ .Content | safeHTML }}
    </div>

    {{ $allPages := .RegularPagesRecursive }}
    {{ $featuredPages := where $allPages "Params.featured" true }}
    {{ range $featuredPages }}
      {{ partial "publicationsSummary" . }}
    {{ end }}
  </div>
  {{ if gt (len $allPages) (len $featuredPages) }}
    <div class="my-auto mt-3">
      <p>See <a href="{{ .Permalink }}">all {{ .Title | pluralize }}</a> for more examples.</p>
    </div>
  {{ end }}
</section>
